{% extends 'home.html' %}
{% block content %}

<p>Name : {{ object.name }}</p>
<p>Email : {{ object.email.username }}</p>
<p>birth_date : {{ object.birth_date }}</p>
<p>Phone Number : {{ object.phone_number }}</p>
<p>Other Emails : {{ object.other_email }}</p>


<a href="{% url 'contact_delete' object.id %}"><input class="btn btn-primary" type="submit" value="Delete"></a>

<a href="{% url 'contact_update' object.id %}"><input class="btn btn-primary" type="submit" value="Edit"></a>

{% endblock %}