{% extends 'home.html' %}
{% block title %} Contacts{% endblock %}
{% block content %}
    <center>

    <h3>You Have {{ contacts|length }} Contact{{ contacts|length|pluralize }}</h3>
    <a href="{% url 'create_contact' %}" ><input type="submit" class="btn btn-primary" value="Create Contact"></a>
    <a href="{% url 'export_contact_csv' %}" ><input type="submit" class="btn btn-primary" value="export contact csv"></a>
    <br>
    <br>
    {# search in name of contacts #}
    <form action="" method="get">
        {{ form }}
        <input type="submit" value="search">
    </form>

    <br>
    <br>

    <div class="table-responsive" style="height: auto;width: 1000px">
    <table class="table">
    <tbody>
            <td class="name">Name</td>
            <td class="email">Email</td>
            <td class="text-body">Other Email</td>
            <td class="mobile-phone">Phone Number</td>
            <td class="birthday">Birth Date</td>
    {% for contact in contacts %}

          <tr>
                <td class="name"><a href="/contact_detail/{{ contact.id }}">{{ contact.name }}</a></td>
                <td class="email">{{ contact.email.username }}</td>
                <td class="text-body">{{ contact.other_email }}</td>
                <td class="mobile-phone">{{ contact.phone_number}}</td>
                <td class="birthday">{{ contact.birth_date}}</td>
                </tr>
    {% endfor %}
    </tbody></table>
    </div>
    </center>
<style type="text/css">
body{
    margin-top:20px;
    background:#eee;
}
.email table {
	font-weight: 600;
}

.email table a {
	color: #666;
}

.email table tr.read > td {
	background-color: #f6f6f6;
}

.email table tr.read > td {
	font-weight: 400;
}

.email table tr td > i.fa {
	font-size: 1.2em;
	line-height: 1.5em;
	text-align: center;
}

.email table tr td > i.fa-star {
	color: #f39c12;
}

.email table tr td > i.fa-bookmark {
	color: #e74c3c;
}

.email table tr > td.action {
	padding-left: 0px;
	padding-right: 2px;
}
</style>

<script type="text/javascript">

</script>
{% endblock %}