{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="{% static 'bootstrap/sidebar-bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'fonts.css' %}" rel="stylesheet">
    <link href="{% static 'layout.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    {% block custom-css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<br>
    {% endblock %}

    {% block head %}
    <title>{% block title %}Home{% endblock %}</title>
    {% endblock %}
  </head>

  <body>

  <div class="page-wrapper">

  {% block page-wrapper %}

  {% block sidebar %}

  <nav id="sidebar">
     <div class="text-center">            
            <div class="mb-4">
                <img id="logo-us" class="rounded mt-4"
                    src="{% static 'img/cc-logo.svg' %}" alt="">
            </div>
            <h4>welcome <br> {{user.username}}</h4>
            <p>{{ user.last_name|default:"Last Name" }}, {{ user.first_name|default:"First name" }}
                <br />
            </p>
      </div>

    <hr />
    <ul class="list-unstyled components">
    <li>
        <a href="{% url 'create_new_email' %}" >New Email</a>
    </li>
    <li>
        <a href="{% url 'inbox' %}">Inbox</a>
    </li>
    <li>
        <a href="{% url 'sent' %}">Sent</a>
    </li>
    <li>
        <a href="{% url 'draft' %}">Draft</a>
    </li>
    <li>
        <a href="{% url 'archives' %}">Archive</a>
    </li>
    <li>
        <a href="{% url 'categories' %}">Label</a>
    </li>
    <li>
        <a href="{% url 'contacts' %}">Contacts</a>
    </li>
    <li>
        <a href="{% url 'trashes' %}">Trash</a>
    </li>
    </ul>

    {% if user.is_authenticated %}
      <ul class="list-unstyled " >
        <li>
        <a href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    {% endif %}
  </nav>
  {% endblock %}

  <div id="content">
    {% block navbar %}
    <nav id="navbar-top" class="navbar navbar-expand-sm navbar-light ">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <img class="mdi-svg" src="{% static 'mdi/menu.svg' %}" type="image/svg+xml" />
            </button>

            <button class="btn btn-dark d-inline-block d-sm-none ms-auto"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarTop"
                    aria-controls="navbarTop"
                    aria-expanded="false" aria-label="Toggle navigation">
                <img class="mdi-svg" src="{% static 'mdi/menu.svg' %}" type="image/svg+xml" />
            </button>
            {% block navbar-links %}
            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                         <div class="form-inline active-cyan-3 active-cyan-4">
                             <i class="fa fa-search" aria-hidden="true"></i>
                            <input type="text" class="form-control ml-3 w-75"
                                   id="searchField" placeholder="Search"
                                   aria-label="Search">
                        </div>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_new_email' %}" >New Email</a>
                    </li>
                    <li class="nav-item">
                        <div class="form-inline active-cyan-3 active-cyan-4">
                        <i class="fa fa-gear"></i>
                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                            </div>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
    </nav>
    {% endblock %}

    {% block messages %}
        {% include 'snippets/show_messages.html' %}
    {% endblock %}


    <div id="content-wrapper">
        {% block content %}
                <div class="app-table" style="height: auto;width: 1000px">
                <table class="table">
                <tbody>
                    <td class="name">From</td>
                    <td class="subject">Subject</td>
                    <td class="text-body">Email</td>
                    <td class="time">Time</td>
                {% for email in emails %}
                    <tr>
                    <td class="name">{{ email.sender }}</td>
                    <td class="subject">{{ email.subject }}</td>
                    <td class="text-body"><a href="/mail/email_detail/{{ email.id }}">
                        {{ email.body|truncatewords:7 }}</a></td>
                    <td class="time">{{ email.created_time|date:" d M Y" }}-{{ email.created_time|time:"H:i" }}</td>
                    </tr>
                {% endfor %}
                </tbody></table>
                </div>
            <div class="table-output">
                          <center>
                        <table class="table">
                        <thead>
                        <tr>
                        <td class="name">From</td>
                        <td class="subject">Subject</td>
                        <td class="text-body">Email</td>
                        <td class="time">Time</td>
                        </tr>

                        </thead>
                        <tbody class="table-body">

                        </tbody>
                        </table>
                         </center>

                        </div>
        {% endblock %}

    </div>
</div>

{% endblock %}

  {% block script %}
<script >
const searchField=document.querySelector("#searchField")

const tableOutput = document.querySelector(".table-output");
const appTable = document.querySelector(".app-table");
const tbody = document.querySelector(".table-body");
tableOutput.style.display='none';

searchField.addEventListener("keyup",(e)=>{
    const searchValue = e.target.value;

    if(searchValue.trim().length>0) {
        console.log("searchValue", searchValue);
        tbody.innerHTML = "";

        fetch('/mail/search_emails/', {
            body: JSON.stringify({searchText: searchValue}),
            method: "POST",
        })
            .then((res) => res.json())
            .then((data) => {
                console.log("data", data);
                appTable.style.display = 'none';
                tableOutput.style.display = 'block';

                if (data.length === 0) {
                    tableOutput.innerHTML = "No results found";
                }else {
                    data.forEach((item)=>{
                        tbody.innerHTML += `
                        <tr>
                        <td>${item.sender_id}</td>
                        <td>${item.subject}</td>
                        <td><a href="/mail/email_detail/" onclick="location.href=this.href+${item.id}+'/';return false">
                            ${item.body}</a></td>
                        <td>${item.created_time}</td>
                        </tr>`;
                    });
                }
            });
    }else {
         appTable.style.display = 'block';
         tableOutput.style.display = 'none';
    }
});
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>

<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function(event) {
    document.getElementById("sidebarCollapse").onclick = function () {
        document.getElementById("sidebar").classList.toggle("active");
        document.getElementById("content").classList.toggle("active");
        }
    });

</script>
       <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script>
  // suppose the `id` attribute of element is `message_container`.
    var message_ele = document.getElementById("message_container");

        setTimeout(function(){
           message_ele.style.display = "none";
        }, 5000);
        // Timeout is 5 sec, you can change it
</script>
{% endblock %}
</body>
</html>
