{% extends 'home.html' %}
{% block content %}
    <div style="width: 500px;height: auto" >
    <p>Sender:{{ object.sender }}</p>
    <p>to:{% for recipients in object.recipients.all %}
            {{ recipients }},
        {% endfor%}</p>
    <p>cc:{% for cc in object.cc.all %}
            {{ cc }},
        {% endfor%}</p>
    <p>bcc:{% for bcc in object.bcc.all %}
            {{ bcc }},
        {% endfor%}</p>
    <p>subject:{{ object.subject }}</p>
    <p>body:</p>
    <p>{{ object.body }}</p>
    <p>{% if object.file %}
        file: <a href="{{ object.file.url }}" >Download file</a></p>
        {% endif %}
    <p>Date Time: {{ object.created_time }}</p>
    <p>Label:{% for category in object.category.all %}
            {{ category }},
        {% endfor%}</p>
    <form action="{% url 'email_delete' email.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Delete">
    </form>
    <form action="{% url 'email_delete' email.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Archive">
    </form>
    <form action="{% url 'email_delete' email.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Forward">
    </form>
    <form action="{% url 'email_delete' email.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Reply">
    </form>
    <form action="{% url 'add_email_to_category' email.id %}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Add label">
    </form>
    </div>
{% endblock %}