{% extends 'home.html' %}
{% block content %}
    <h3>Reply</h3>
<form method="post">
{% csrf_token %}
    <table>
        {{ form.as_table }}
        </table>
   <input type="submit" value="save">

</form>
    <h3>Replying email:</h3>
<div style="width: 500px;height: auto" >
    <p>Sender:{{ email.sender }}</p>
    <p>to:{% for recipients in email.recipients.all %}
            {{ recipients }},
        {% endfor%}</p>
    <p>cc:{% for cc in email.cc.all %}
            {{ cc }},
        {% endfor%}</p>
    <p>subject:{{ email.subject }}</p>
    <p>body:</p>
    <p>{{ email.body }}</p>
    <p>{% if email.file %}
        file: <a href="{{ email.file.url }}" >Download file</a></p>
        {% endif %}
    <p>Date Time: {{ email.created_time }}</p>
</div>
{% endblock %}